<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit colleges</title>
</head>
<body style="background-color: palegoldenrod;">
<h2 align="center">
    List of periods
</h2>
<div>
    <table style="margin-left: auto; margin-right: auto;" border="1">
        <tbody>
        <tr>
            <th style="width: 100px; text-align: center;" hidden>Id</th>
            <th style="width: 400px; text-align: center;">Name</th>
            <th style="width: 100px; text-align: center;" colspan="2">Actions&nbsp;</th>
        </tr>
        <tr th:each="period:${periods}">
            <td th:utext="${period.id}" style="text-align: center;" hidden>1</td>
            <td th:utext="${period.name}">Name</td>
            <td style="width: 50px; text-align: center;"><a th:href="@{/period/edit/__${period.id}__}"
                                                            href="listPeriod.html">edit</a></td>
            <td style="width: 50px; text-align: center;"><a th:href="@{/period/delete/__${period.id}__}"
                                                            href="listPeriod.html">delete</a></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="8"><a href="/period/add">+Add new period+</a></td>
        </tr>
        </tbody>
    </table>
</div>
<p align="center"><a href="/"> Back to home</a></p>
</body>
</html>