<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new college</title>
</head>
<body style="background-color: palegoldenrod;">
<h2 align="center">
    Adding new college
</h2>
<form id="newCollege" action="#" th:action="@{/college/addNewCollege}" th:object="${newCollege}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Address: <input type="text" th:field="*{address}"/></p>
    <p>Director: <input type="text" th:field="*{director}"/></p>
    <p>Phone: <input type="text" th:field="*{phone}"/></p>
    <p>Choose ownership here:
        <select form="newCollege" th:field="*{ownerShip}" id="ownerShip">
            <option disabled value="0">Choose ownership here:</option>
            <option th:each="ownerShip : ${ownerShips}"
                    th:value="${ownerShip.toString()}"
                    th:utext="${ownerShip.getString()}"></option>
        </select>
    </p>
    <p>Choose specialities here:
        <!--<select form="newCollege" th:object="${specialities}" id="specialities">
            <option disabled value="0">Choose specilities here:</option>
            <option th:each="speciality : ${specilities}"
                    th:value="${specilility.id}"
                    th:utext="${specilaity.code} + ${speciality.name}"></option>
        </select>-->
    <ul>
        <li th:each="speciality : ${specialities}">
            <input type="checkbox" th:utext="${speciality.name}" th:value="${speciality.id}"/>

        </li>
    </ul>
    </p>


    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>